* {
    -webkit-user-select: none;
    box-sizing: border-box;
    list-style-type: none;
}

body,
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	overflow: hidden;
}

#command-list {
	list-style-type: none;
	margin: 0px;
	padding: 0
}

li.command {
	font-size: 14px;
	height: 23px;
	padding: 3px 20px 3px 20px;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

li.command:hover {
	color: white;
	background-color: #3F9BFE;
	cursor: default;
}

li.separator {
	height: 10px;
	padding-top: 4px;
	margin: 0;
}

li.separator > hr{
	margin: 0;
	height: 2px;
	background-color: #dfdfdf;
	border: none;
}