@media (-webkit-min-device-pixel-ratio:2) {
    div {
        border-width: 0.5px;
    }
}

* {
    -webkit-user-select: none;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.list {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 64px;
}

.left {
    left: 0;
    right: 50%;
}

.right {
    left: 50%;
    right: 0;
    border-left: 1px solid #DFE4E6;
}


.list h4 {
    position: absolute;
    left: 40px;
    right: 40px;
    top: 48px;
    margin: 0;
    color: #485E6C;
}

ul {
    position: absolute;
    top: 96px;
    left: 40px;
    right: 16px;
    bottom: 0;
    padding: 0 24px 64px 0;
    margin: 0;
    overflow-y: auto;
    list-style-type: none;
}

.no-plugins{
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 40%;
    color: #485E6C;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

ul.no-commands:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    content: "Drop commands over here";
    color: #D7E0E6;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

ul li.command {
    background-color: #F0f5f7;
    color: #485E6C;
    font-size: 13px;
    line-height: 28px;
    height: 28px;
    padding: 0px 24px 0px 8px;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
    cursor: grab;
    position: relative;
}

ul li.separator {
    height: 28px;
    padding: 0px 24px 0px 8px;
    margin-bottom: 3px;
    cursor: grab;
    position: relative;
    background-color: transparent;
}

ul li.separator:after {
    position: absolute;
    display: block;
    content: ' ';
    background-color: #D7E0E6;
    height: 2px;
    top: 12px;
    left: 8px;
    right: 28px;
}

ul li.checked-command {
    color: #D7E0E6;
    cursor: default;
    text-decoration:line-through;
    background-color: transparent;
}

ul li.plugin-header {
    color: #485E6C;
    padding-left: 0;
    margin: 28px 0 12px 0;
    background-color: transparent;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    opacity: 0.75;
    cursor: default;
}

ul li.plugin-header:first-child {
    margin: 3px 0 9px 0;
}

i.delete-icon {
    display: block;
    position: absolute;
    background-image: url(../Images/delete.svg);
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    right: 0px;
    top: 0px;
    width: 28px;
    height: 28px;
    font-size: 12px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    font-style: normal;
    color: #D7E0E6;

}

i.delete-icon:hover {
    opacity: 1.0;
}

.text-button {
    border: none;
    text-align: left;
    margin: 0 -8px 0 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    background-color: transparent;
    color: #28BBF5;
    cursor: pointer;
}

.text-button:hover {
    color: #05A1E0;
}

.text-button:active {
    color: #485E6C;
}

.add-separator-button {
    position: absolute;
    height: 20px;
    top: 48px;
    right: 40px;
    padding: 0 6px;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 64px;
    padding: 16px 40px;
    border-top: 1px solid #D7E0E6;
}


#footer .details {
    display: block;
    height: 32px;
    float: left;
}

.details > p {
    margin: 0 8px 0 0;
    line-height: 32px;
    font-size: 12px;
    float: left;
    color: #485E6C;
    cursor: default;
    opacity: 0.5;
}

.details span {
    float: left;
    width: 16px;
    height: 16px;
    margin: 8px 4px 8px 4px;
    background-size: 16px 16px;
    cursor: pointer;
    opacity: 0.5;
}

.details span:hover {
    opacity: 1.0;
}

.details .github {
    background-image: url(../Images/github_logo.svg);
}
.details .twitter {
    background-image: url(../Images/twitter_logo.svg);
}

.details  a {
    float: left;
    display: block;
}

button.normal {
    cursor: pointer;
    color: #485E6C;
    height: 32px;
    font-size: 14px;
    padding: 0 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
    border: 1px solid #D7E0E6;
    float: right;
}

button.main {
    background-color: #28BBF5;
    border: none;
    font-weight: 700;
    color: white;
}

button.normal:active {
    border: none;
    padding: 1px 21px;
    background-color: #05A1E0;
    color: white;
}

button.main:active {
    padding: 1px 20px;
}


/*Dragula script classes*/

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.9;
    background-color: #F0f5f7;
    font-size: 14px;
    line-height: 24px;
    height: 32px;
    padding: 4px 24px 4px 8px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gu-mirror.separator {
    position: absolute;
    display: block;
    content: ' ';
    background-color: transparent;
    border: 1px solid #D7E0E6;
    height: 2px;
    top: 14px;
    left: 8px;
    right: 32px;
}

.gu-mirror.separator:after {
    position: absolute;
    display: block;
    content: ' ';
    background-color: #D7E0E6;
    height: 2px;
    top: 14px;
    left: 8px;
    right: 32px;
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.5;
}